body {
    background-color: #283747;
}

#header-section {
    display: flex;
    margin-bottom: 150px;
}
.header-div {
    width: 50%;
}

.header-div h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color: rgb(236, 115, 68);
    margin-left: 10%;
    text-align: center; 
}

.header-div h3 {
    font-family: "Lobster", cursive;
    margin-left: 8%;
    padding: 20px;
    font-size: 25px;
    font-weight: 100;
    color:  rgb(245, 231, 205);
}
.diff_fnt {
    color: rgba(175, 172, 4, 0.945);
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    
}

.header-div p {
    font-family: "Indie Flower", cursive;
    color: rgb(245, 231, 205);
    font-size: 25px;
    margin-left: 8%;
    padding: 20px;
    text-align: justify;
}

.header-div a {
    target: _blank;
    text-decoration: none;
    font-family: "Indie Flower", cursive;
    color:black;
    font-weight: 800;
    font-size: 20px;
    margin-left: 50%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 30px;
    background-image: linear-gradient(
        rgb(236, 115, 68), orange
    );
}

.header-div img {
    height: 450px;
    width: 450px;
    border-radius: 250px;
    float: right;
    margin: 20%;
}

.mid_div {
    width: 50%;
}

#mid_sec {
    display: flex;
    background-image: url("/im/dark-blue.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 150px;
}

.mid_div img {
    margin-left: 1px;
    border-radius: 20px;
}

.mid_div p {
    font-family: "Indie Flower", cursive;
    color: rgb(245, 231, 205);
    font-size: 22px;
    text-align: justify;
    padding-right: 2%;
    padding-left: 12%;
    margin-bottom: 8%;
    margin-right: 5%;
}

.mid_div a {
    target: _blank;
    text-decoration: none;
    font-family: "Indie Flower", cursive;
    align-content: center;
    margin-left: 50%;
    color: black;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(
        rgb(236, 115, 68), orange
    );
}
.mid_div h1 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color: rgb(236, 115, 68);
    padding-top: 30px;
    padding-left: 45%;
}

#food_pic {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 600px;
    align-items: center;
}

.flexible-class {
    display: flex;
    margin-top: 5%;
}
.box {
    width: 30%;
    margin-bottom: 150px;
    box-shadow: 10px 10px 30px rgb(19, 192, 140);
    margin-left: 3%;
    border-radius: 30px;
}

#box-img {
    height: 80%;
    width: 95%;
    border-radius: 30px;
    padding-left: 15px;
    padding-top: 20px;
}

#box-h1 {
    font-family: "Dancing Script", cursive;
    color: rgb(236, 115, 68);
    text-align: center;
}
#box-p {
    font-family: "Indie Flower", cursive;
    color: rgb(245, 231, 205);
    font-size: 18px;
    text-align: center;
}

.long-box {
    display: flex;
    width: 70%;
    box-shadow: 10px 10px 30px rgb(19, 192, 140);
    padding: 10px;
    margin-left: 15%;
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 30px;
}

#lb1 {
    color: wheat;
    font-family: "Indie Flower", cursive;
    font-size: 25px;
    text-align: center;
}

#lb2 {
    color: wheat;
    font-family: "Indie Flower", cursive;
    font-size: 25px;
    text-align: center;
    margin-left: 30%;
    align-content: center;
}

footer h1 {
    text-align: center;
    color: rgb(236, 115, 68);
    font-size: 40px;
}
